/* *********************************** */
/************* HEADER LAYOUT ***********/
/* *********************************** */

/* HEADER 576px */

header {
  background-color: rgb(0, 106, 255);
  display: flex;
  align-items: center;
  min-height: 70px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container.aligner{
  margin: 0 auto;
  width: 85%;
}

.header__logo {
  height: 50px;
  display: flex;
}

.header__menu {
    display: none; 
  }

/* *********************************** */
/* ********** HERO POST HEADER ******* */
/* *********************************** */

/* Hero Container */
.herocontainer {
  /* Stili per il contenitore principale */
}

/* Cards Container */
.cards {
  /* Stili per il contenitore delle card */
}

/* Card */
.cards__card {
  /* Stili per la singola card */
}

/* Interno di una Card con Titolo, Paragrafo, Bottone e Container Immagine */
.card__image-container {
  /* Stili per il contenitore dell'immagine */
}

.card__image {
  /* Stili per l'immagine */
}

/* Card con Font Awesome Icon */
.card--icon {
  /* Stili per la card con icona */
}