/* INSERIRE ALIGNER QUANDO SERVE SUI CONTAINER IN INDEX */
.aligner{
  margin: 0 auto;
  width: 85%;
}

/* *********************************** */
/************* HEADER LAYOUT ***********/
/* *********************************** */

/* HEADER 576px */

header {
    min-height: 70px;
    display: flex;
    justify-content: center;
    background-color: #5588ff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 50px;
    display: flex;
}
.header__menu {
    display: none;
    width: 50%;
}

body > header > div > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__menu ul > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > header > div > nav > ul * a{
  text-decoration: none;
  color: white;
}

li5 {
    width: 31%;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    gap: 10px;
}

body > header > div > nav > ul > li5 > a {
  color: #100f0f;
}


/* *********************************** */
/* ********** HERO POST HEADER ******* */
/* *********************************** */

/* Hero Container */
.herocontainer {
  min-height: 600px;
}

/* Cards Container */
.cards {
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards__card > .cards__card--text {
    display: flex;
    flex-direction: column;
    background-color: #99ccff;
    gap: 25px;
    border-radius: 20px;
    
}

.cards__card.cards__card--two-thirds{
  min-height: 400px;
  padding-bottom: 0;
}

/* Card */
.cards__card {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #99ccff;
  gap: 25px;
  border-radius: 20px;
}

.cards__card > * {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image Container */
.card__image-container {
  width: 80%;
}

.card__image {
  width: 100%;
}

 /* *********************************** */
    /* ********** STRATEGIC PLANNING ******* */
    /* *********************************** */
.section-container--backgroundcolor{
  background-color: #9593e6 ;
}

.section-container  {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-container__container:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-bottom: 20px ;
}

.section-container__content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-container__container:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.section-container__container:nth-of-type(2) .section-container__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container__img-container img{
  width: 100%;
}

 /* *********************************** */
    /* ********** COMMITED PARTNERS ******* */
    /* *********************************** */

.main-container {
  padding-top: 30px;
  padding-bottom: 30px;
}


.content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.person-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #9593e6;
  border-radius: 50px;
}

.person-container__image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-container__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.person-container__info-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  gap: 20px;
}

.person-container_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

     /* *********************************** */
    /* ********** Benefits ******* */
    /* *********************************** */

    .sezionecarte {
      background-color: #9792e4;
    }

    .sezionecarte__container {
      padding-bottom: 30px;
    }

    .sezionecarte__title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .sezionecarte__cards-container {
      
      border-radius: 15px;
    }

    .sezionecarte__card {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      border-radius: 30px;
    }


    .sezionecarte__cards-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }


     /* *********************************** */
    /* ********** ABOUT US ******* */
    /* *********************************** */
    .aboutus {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .aboutus__container {
      display:flex ;
      flex-direction: column;
      gap: 20px;

    }
    
    .aboutus__section {
      display:flex ;
      flex-direction: column;
      gap: 30px;
    }
    
    .aboutus__img-container-position {
      
      width: 150px;
      height: 150px;
      position: relative;
    }
    
    .aboutus__img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
    
    body > div.aboutus > div > div:nth-child(2) > div > div > i {
      position: absolute;
      top: 0px;
      right: 0px;
      color: #8e87f0;
      font-size: xxx-large;
    }

     /* *********************************** */
    /* ********** FOOTOR******* */
    /* *********************************** */

    .get-started {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #9792e4;
  }
  
    .get-started__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    

    .footer {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #333333;

    }
    
    .footer__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
    }