/* INSERIRE ALIGNER QUANDO SERVE SUI CONTAINER IN INDEX */
.aligner{
  margin: 0 auto;
  width: 85%;
}

.aligner--cards{
  margin: 0 auto;
  width: 85%;
}

/* *********************************** */
/************* HEADER LAYOUT ***********/
/* *********************************** */

/* HEADER 576px */

header {
    min-height: 70px;
    display: flex;
    justify-content: center;
    background-color: #5588ff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 50px;
    display: flex;
}
.header__menu {
    display: none;
}

/* *********************************** */
/* ********** HERO POST HEADER ******* */
/* *********************************** */

/* Hero Container */
.herocontainer {
  min-height: 600px;
}

/* Cards Container */
.cards {
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards__card.cards__card--two-thirds{
  min-height: 400px;
}

/* Card */
.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99ccff;
}

/* Image Container */
.card__image-container {
  width: 80%;
}

.card__image {
  width: 100%;
}

