

/* *********************************** */
/* ********** RESPONSIVE SWAG ******* */
/* *********************************** */

@media screen and (min-width: 576px) {

    /* *********************************** */
    /* ********** HERO POST HEADER ******* */
    /* *********************************** */


    .cards__card.cards__card--two-thirds  {
        width: calc((100% / 3* 2) - 6.5px);
    }
    .cards__card.cards__card--one-thirds{
        width: calc((100% / 3) - 13.5px);
        flex-grow: 1;
    }

    
    .header__hamburger-menu {
        display: none;
    }
    .header__menu {
        display: block;
    }

    .card__image {
        width: 239px;
    }

    .header__menu {
        width: 60%;
    }

    .section-container__img-container {
        width: 390px;
      }

    /* *********************************** */
    /* *** TESTIMONIALS ************ */
    /* *********************************** */

    .person-container {    
        flex-direction: row;
        }
    body > div.main-container > div > div.person-container_container > div{
        gap: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }


    .sezionecarte__cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sezionecarte__card {
        width: calc((100% / 2) - 10px);
    }

    .aboutus__container {
        flex-direction: row;
    }

    .aboutus__section {
        justify-content: center;
        align-items: center;
    }

}
    



@media screen and (min-width: 1476px) {
   /* *********************************** */
    /* ********** GLBOAL RESET ******* */
    /* *********************************** */
    .aligner {
        margin: 0 auto;
        width: 60%;
    }

    .person-container__info-block.aligner {
        width: auto;
    }

    /* *********************************** */
    /* ********** HERO POST HEADER ******* */
    /* *********************************** */

    .herocontainer > .cards > .cards__card > .card__image-container {
        width: 100%;
    }

    .card__image {
        width: 239px;
    }


    .cards__card.cards__card--two-thirds {
        flex-direction: row;
        min-height: 312px;
    }

    .card__image-container{
        align-items: end;
    }

    .cards__card > .cards__card--text {
        width: 100%;
    }

    .cards__card > .cards__card--text > .card__title {
        width: 244px;
    }

    .cards__card > .cards__card--text > .card__paragraph {
        width: 244px;
    }


    .cards__card > .cards__card--text {
        justify-content: normal;
        align-items: normal;
        padding-left: 20px;
    }

     /* *********************************** */
    /* *** RESPONSIVE STRATEGICPLANNING *** */
    /* *********************************** */

    .section-container {
        display: flex;
    }
    .section-container__container:nth-of-type(2) {
        margin-top: 100px;
    }

    .section-container__container:nth-of-type(1){
        justify-content: space-between;
    }
    /* *********************************** */
    /* *** TESTIMONIALS ************ */
    /* *********************************** */
    .sezionecarte__card {
        width: calc((100% / 3) - 13.4px);

    }

    .sezionecarte__cards-container.aligner {
        width: auto;
}
.sezionecarte__title {
    font-size: xx-large;
}

body > div.aboutus > div > div:nth-child(1) {
    justify-content: space-between;
}

}



    