/* *********************************** */
/************* FONT SETUP ***********/
/* *********************************** */

a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* *********************************** */
/************* HEADER TEXT ***********/
/* *********************************** */

.header__hamburger-menu {
    color: white;
    font-size: 33PX;
  }


/* *********************************** */
/* ********** HERO POST TEXT******* */
/* *********************************** */

/* Titolo della Card */
.card__title {
    color: #5588ff;
}

/* Paragrafo della Card */
.card__paragraph {
    color: #333333;
    text-align: center;
}

.cards__card > .cards__card--text > .card__paragraph {
    text-align: left;
    }

/* Bottone della Card */
.card__button {
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    gap: 10px;
}
.card__button i{
    font-size: large;
}

/* Icona della Card */
.cards__card > i {
    font-size: 60px;
    color: #5588ff;
}


 /* *********************************** */
    /* ********** STRATEGIC PLANNING ******* */
    /* *********************************** */
    
.section-container__title {
  }
  
  .section-container__text {
  }
  
  .section-container__icon {
  }
  

.section-container__container--white-text .section-container__title,
.section-container__container--white-text .section-container__text {
  color: white;
}

.section-container__container--black-text .section-container__title,
.section-container__container--black-text .section-container__text {
  color: black;
}