/* *********************************** */
/************* FONT SETUP ***********/
/* *********************************** */


p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* *********************************** */
/************* HEADER TEXT ***********/
/* *********************************** */

.header__hamburger-menu {
    color: white;
    font-size: 33PX;
  }


/* *********************************** */
/* ********** HERO POST TEXT******* */
/* *********************************** */

/* Titolo della Card */
.card__title {
    /* Stili per il titolo della card */
}

/* Paragrafo della Card */
.card__paragraph {
    /* Stili per il paragrafo della card */
}

/* Bottone della Card */
.card__button {
    /* Stili per il bottone della card */
}

/* Icona della Card */
.cards__card i {
    /* Stili per l'icona Font Awesome */
}
